.auth__wrapper {
    min-height: 100vh;
    position: relative;
    .auth__box {
        box-shadow: 1px 0 20px rgba(0,0,0,.08);
    }
    .auth__box {
        background: #fff;
        padding: 20px;
        max-width: 400px;
        width: 90%;
        margin: 10% 0;
        .logo {
            text-align: center;
        }
    }
    .auth__box.on__sidebar {
        top: 0;
        right: 0;
        height: 100%;
        margin: 0;
        position: absolute;
    }
}