@mixin navrow($device, $value) {
    @media (min-width: $value + px) {
        .nav__row__#{$device} {
            -ms-flex-flow:row nowrap;
            flex-flow:row nowrap;
            -ms-flex-pack:start;
            justify-content:flex-start;
            .nav__collapse {
                display: flex!important;
                flex-basis: auto;
            }
            .nav__box {
                flex-direction: row;
            }
        }

        .d__#{$device}__block {
            display: block!important;
        }
    }
}
.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__box {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.nav__brand {
    display: inline-block;
    padding-top: .333594rem;
    margin-bottom: .333594rem;
    margin-right: 1rem;
    font-size: 1.09375rem;
    line-height: inherit;
}

@include navrow($sm, $vsm);
@include navrow($md, $vmd);
@include navrow($lg, $vlg);
@include navrow($xl, $vxl);

